@model Control_PacientesDB.Models.Diagnostico

@{
    ViewData["Title"] = "Delete";
}

<h1>!!!!</h1>

<h3>¿Estas seguro de eliminar el siguiente Diagnostico?</h3>
<div>
    <h4>Diagnostico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valoracion_oftalmologica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valoracion_oftalmologica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultadosExa_Glucosa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultadosExa_Glucosa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valoracion_MedInterna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valoracion_MedInterna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valoracion_Anestesia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valoracion_Anestesia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_diagnostico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_diagnostico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notas_diagnostico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas_diagnostico)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Codigo_diagnostico" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
